.button {
  --bg-color: #fff;
  --label-color: #181818;

  --bg-color-hover: #181818;
  --label-color-hover: #fff;

  --animation-duration: 0.3s;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 5px;
  padding: 5px;

  background-color: var(--bg-color);

  transition: background-color var(--animation-duration) linear;
}

.button:hover {
  background-color: var(--bg-color-hover);

  .button__label {
    color: var(--label-color-hover);
  }
}
