.user-profile__name {
  display: none;

  color: var(--color-black);

  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

@media (--vsm-viewport) {
  .user-profile__name {
    display: block;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (--md-viewport) {
  display: block;
  .user-profile__name {
    font-size: 24px;
    line-height: 32px;
  }
}
