.user-profile__name {
  color: var(--color-black);

  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

@media (--sm-viewport) {
  .user-profile__name {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (--md-viewport) {
  .user-profile__name {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (--lg-viewport) {
  .user-profile__name {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (--xl-viewport) {
  .user-profile__name {
    font-size: 24px;
    line-height: 32px;
  }
}
