@media (--lg-viewport) {
  .featured-post__post-preview {
    padding: 32px;
  }

  .home-hero {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .about-us__content {
    padding: 80px;
  }
  .footer__cta {
    flex-direction: row;
    align-items: center;
  }
  .footer__mail-input {
    width: 320px;
  }
  .footer__subscribe-button {
    width: 180px;
  }

  .special-post__content {
    max-width: 800px;
    padding: 80px;
  }

  .testimonials__content {
    gap: 50px;
    padding: 62px;
  }
}
