.special-post__content {
  position: absolute;

  display: flex;
  flex-direction: column;

  right: 0px;
  bottom: 0px;
  gap: 30px;
  padding: 16px;

  background-color: var(--color-special-post-bg);
}
