.testimonials__content {
  display: flex;

  flex-direction: column;

  gap: 10px;
  padding: 48px 16px;
  /* grid-template-columns: 0.45fr 0.55fr; */

  background-color: var(--color-testimonials-content-bg);
}
