.footer__nav-options {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 25px;

  color: var(--color-white);
}

@media (--sm-viewport) {
  .footer__nav-options {
    gap: 15px;
  }
}

@media (--md-viewport) {
  .footer__nav-options {
    gap: 25px;
  }
}
@media (--lg-viewport) {
  .footer__nav-options {
    gap: 25px;
  }
}
@media (--xl-viewport) {
  .footer__nav-options {
    gap: 25px;
  }
}
