.text_style_b1 {
  font-size: 12px;
  font-weight: 100;

  line-height: 18px;
}
.text_style_b2 {
  font-size: 14px;
  font-weight: 100;

  line-height: 20px;
}

.text_style_label {
  font-size: 16px;
  font-weight: 250;
  line-height: 20px;
}

@media (--md-viewport) {
  .text_style_b1 {
    font-size: 16px;

    line-height: 28px;
  }
  .text_style_b2 {
    font-size: 14px;

    line-height: 20px;
  }

  .text_style_label {
    font-size: 16px;
    line-height: 20px;
  }
}
