:root {
  color-scheme: light;

  --color-primary: var(--color-white);
  --color-secondary: var(--color-black);

  --color-about-us-content-background: var(--color-lavander);

  --color-about-us-link: var(--color-purple);

  --color-category-card-bg: var(--color-white);
  --color-category-card-label: var(--color-black);
  --color-category-card-desc: var(--color-dark-gray);
  --color-category-card-bg-hover: var(--color-yellow);
  --color-category-card-label-hover: var(--color-black);
  --color-category-card-desc-hover: var(--color-black);

  --color-author-card-bg: var(--color-white);
  --color-author-card-label: var(--color-black);
  --color-author-card-desc: var(--color-dark-gray);
  --color-author-card-bg-hover: var(--color-light-yellow);
  --color-author-card-label-hover: var(--color-black);
  --color-author-card-desc-hover: var(--color-black);

  --color-special-post-bg: var(--color-white);

  --color-logos-fill: var(--color-black);

  --color-testimonials-content-bg: var(--color-light-yellow);

  --color-footer-bg: var(--color-black);

  --pr-button-bg-color: var(--color-yellow);
  --pr-button-bg-color-hover: #d6ab34;
  --pr-button-label-color: var(--color-black);
  --pr-button-label-color-hover: var(--color-black);
}
