.button_theme_primary {
  --bg-color: var(--pr-button-bg-color);
  --bg-color-hover: var(--pr-button-bg-color-hover);
  --label-color: var(--pr-button-label-color);
  --label-color-hover: var(--pr-button-label-color-hover);
}
