.user-profile__location {
  display: none;

  font-size: 16px;
  font-weight: 100;

  line-height: 18px;
}

@media (--sm-viewport) {
  .user-profile__location {
    display: inline;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (--md-viewport) {
  .user-profile__location {
    font-size: 20px;
    line-height: 24px;
  }
}
