.button_theme_primary {
  --bg-color: #181818;
  --bg-color-hover: #fff;
  --label-color: #fff;
  --label-color-hover: #181818;

  border: 2px transparent solid;
}

.button_theme_primary:hover {
  border: 2px #181818 solid;
}

@media (prefers-color-scheme: dark) {
  .button_theme_primary {
    --bg-color: #181818;
    --bg-color-hover: #fff;
    --label-color: #fff;
    --label-color-hover: #181818;
  }
}
